*{
    margin: 0;
    padding: 0;
}
main{
    background: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background: white;
    height: 40px;
    width: 40px;
    transition: all 1s;
}
section:hover{
    background: yellow;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    rotate: 45deg;
}